[submodule "arduino-mk"]
	path = arduino-mk
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "src/Cli"]
	path = src/Cli
	url = ssh://git@github.com/arduino-library/Cli
[submodule "src/Led"]
	path = src/Led
	url = ssh://git@github.com/arduino-library/Led
[submodule "src/Nvm"]
	path = src/Nvm
	url = ssh://git@github.com/arduino-library/Nvm
[submodule "src/Trace"]
	path = src/Trace
	url = ssh://git@github.com/arduino-library/Trace
[submodule "tools"]
	path = tools
	url = git@github.com:microfarad-de/tools.git
[submodule "src/MathMf"]
	path = src/MathMf
	url = ssh://git@github.com/arduino-library/MathMf
